.idea/
aqualung/
autostart/
BraveSoftware/
cef_user_data/
cmus/
Code/
Code - OSS/
dconf/
discord/
eduvpn/
github-copilot/
gtk-2.0/
gtk-3.0/
htop/
Insync/
JetBrains/
kde.org/
matplotlib/
nemo/
pulse/
sauerbraten/
session/
spotify/
sublime-text-3/
systemd/
teams-for-linux/
torbrowser/
VSCodium/
yay/
dolphinrc
kconf_updaterc
kdeglobals
kiorc
kwalletrc
mimeapps.list
trashrc
zoom.conf
zoomus.conf
sublime-text/Local/Auto Save Session.sublime_session
